body{
    height: 100vh;
    width: 99%;
}
.mainsection{
    border-left: 20px solid gray;
    border-right: 20px solid gray;

}
header{
    
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-between;
}
.logo{
    
    width: 50%;
    height: auto;

}
.logo img{
    width: 100%;
    height: 150px;
}
.rightcontact{


margin-right: 40px;
display: flex;
flex-direction: column;
}
.rightcontact h3{
    color: rgb(130, 19, 19);
    font-size: 25px;
    font-family: sans-serif;
    letter-spacing: 2px;
    margin-bottom: 0;
}
hr{
   
   background-color: black;
    height: 3px;
    width: 100%;
    margin-bottom: 0;
}
.rightcontact h1{
    margin-top: 0;
    font-size: 55px;
    font-family: sans-serif;
    letter-spacing: 2px;
    margin-bottom: 0;
}
.rightcontact p{
    color: rgb(67, 67, 66);
    font-weight: 600;
      margin-top: 0;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

/*Nav Bar*/

nav{
    display: flex;
    align-items: center;      
    background-color: rgb(101, 13, 13);
    width: 100%;
    height: 50px;
    justify-content: end;
}

nav ul{
    display: flex;
    gap: 20px;
    margin-right: 40px;
    list-style: none;
    height: 100%;
}

nav ul li{
    height: 100%;            
}

nav ul li a{
    display: flex;           
    align-items: center;     
    height: 100%;            
    padding: 0 15px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    transition: 0.4s ease;
}

nav ul li a:hover,
nav ul li a.home{
    background-color: rgb(118, 120, 118);
}




/*First Section*/

.imagesection{
    
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
gap: 15px;

}
.leftimage{
   
    width: 50%;
    height: auto;
    height: 385px;
    box-shadow: 50px black;
    
}
.rightimage{
    
    width: 43%;
    height: auto;
    height: 385px;
    background: url(images/form_bg.jpg);
    background: cover;
    background-repeat: no-repeat;
    background-size:100% ;
     box-shadow: 0px 2px 10px black;
   
}
.leftimage img{
    height: 385px;
    width: 100%;
    box-shadow: 0px 2px 10px black;
}
.rightimage img{
    height: 385px;
    width: 100%;
}
/*Form container*/
.mainquestion{
    
    width: 100%;
    height: 80px;
    display: flex;
}
.question{
    height: 100px;
   margin-top: 0;
    width: 34%;
    height: 40px;
    background-color: #bb0406;
   
    display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
}
.question h2{
    font-size: 26px;
   font-family: sans-serif;
    color: white;
}
.mainquestion h6{
    font-family: sans-serif;
    font-size: 26px;
    margin-top: 2px;
    margin-left: 30px;
    letter-spacing: none;
}
.mainquestion span{
    color: darkblue;
    font-size: 35px;
    font-weight: 800;
}
.infopara{
   
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}
.infopara p{
    margin: 0 0 0 0;
    margin-left:30px;
font-size: 19px;
font-family: sans-serif;

}
.number{
    font-weight: 700;
}
.formmain{
   
    width: 100%;
    display: flex;
    
}
.inputs{
    
    width: 50%;
    display: flex;
    text-align: center;
    margin-left: 30px;
   font-size: 15px;
   font-family: sans-serif;
}
form input{
    width: 70%;
    margin-top: 10px;
    padding: 5px;
}
.namein{
    margin-left: 6px;
}
.emailin{
    margin-left: 3px;
}
.confidential{
    
    width: 45%;

}
.confidential img{
    height: 60px;
    width: 80%;
    margin-top: 30px;
    margin-left: 15px;
    transform: rotate(10deg);
}
textarea{
    width: 85%;
    height: 60px;
    margin-left: 45px;
    margin-top: 10px;
    
}
textarea ::placeholder{
    color: black;
} 
.guaranteed{
    
    width: 100%;
display: flex;
gap: 30px;
align-items: center;
}
.guaranteed p{
    font-size: 15px;
    font-style: italic;
    font-family: sans-serif;
    margin-left: 30px;
    color: rgb(79, 77, 77);
}
.guaranteed button{
    display: flex;
    width: 50%;
    height: 40px;
    background-color:   #bb0406;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 2px;
    border: none;
      box-shadow: 0px 2px 10px black;
     
}
.guaranteed button img{
    height: 15px;
    width: 6%;
    margin-left: 20px;
}
/*Second Section*/
.secondsection{
    
    width: 100%;
    display: flex;
    margin-top: 30px
}
/*First Container*/
.charged{
   
    width: 33.3%;
}
.charone{
    
    width: 100%;

}
.charone h1{
    
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 50px;
    color: rgb(77, 76, 76);
}
.dui{
    color: #bb0406;
}
.charone h2{
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 18px;
    font-family: sans-serif;
    color: #bb0406;
}
.chartwo{
   
    width: 65%;
    font-size: 15px;
font-family: sans-serif;
    
}
.chartwo p{
    color: rgb(112, 110, 110);
    margin-left: 50px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
}

.mainboard{
    display: flex;
}
.board img{
    height: 120px;
    margin-left: 20px;
}
.clickbtn1{
    
    width: 100%;
    
    justify-content: end;
    height: 50px;
}
.clickbtn1 hr{
    border: none;
    background-color: rgb(112, 110, 110);
    height: 2px;
    width: 50%;
    margin-left: 150px;
}
.clickbtn1 button{
    background-color: #bb0406;
    color: white;
     box-shadow: 0px 2px 10px black;
    height: 30px;
    width: 30%;
    margin-top: -2px;
    margin-left: 200px;
    border: none;
}
.clickbtn1 button img{
    margin-left: 10px;
}
/*Second Container*/
.law{
    border-left: 2px solid rgb(112, 110, 110);
    border-right: 2px solid rgb(112, 110, 110);
    width: 33.3%;
}
/*First Div*/
.lawone{
    border-bottom: 2px solid rgb(112, 110, 110);
    width: 100%;
   height: 150px;
   display: flex;
}
.lawone .left{
   
    width: 60%;
    height: 100%;
}
.lawone h1{
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0;
    color: rgb(77, 76, 76);
}
.lawone span{
    color: #bb0406;
}
.lawone p{
    font-size: 15px;
font-family: sans-serif;
margin-left: 20px;
margin-top: 10px;
letter-spacing: 1px;
color: rgb(112, 110, 110);
}
.lawone hr{
    border: none;
    background-color: rgb(112, 110, 110);
    height: 2px;
    width: 80%;
    margin-left:20px;
   
}
.lawone button{
    background-color: #bb0406;
    color: white;
     box-shadow: 0px 2px 10px black;
    height: 30px;
    width: 45%;
    margin-top: -2px;
    margin-left: 80px;
    border: none;
    text-align: center;
    align-content: center;
    align-items: center;
}
.lawone button img{
    margin-left: 5px;
}

.screen img{
    margin-top: 20px;
    height: 90px;
}

/*Secon Div*/


.result{
    
    width: 100%;
   height: 150px;
   display: flex;
}
.result .left{
    
    width: 60%;
    height: 100%;
}
.result h1{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0;
    color: rgb(77, 76, 76);
}
.result span{
    color: #bb0406;
}
.result p{
    color: rgb(112, 110, 110);
    font-size: 15px;
font-family: sans-serif;
margin-left: 20px;
margin-top: 5px;
letter-spacing: 1px;
}
.result hr{
    border: none;
    background-color: rgb(112, 110, 110);
    height: 2px;
    width: 80%;
    margin-left:20px;
   
}
.result button{
    background-color: #bb0406;
    color: white;
     box-shadow: 0px 2px 10px black;
    height: 30px;
    width: 45%;
    margin-top: -2px;
    margin-left: 80px;
    border: none;
    text-align: center;
    align-content: center;
    align-items: center;
}
.result button img{
    margin-left: 5px;
}
.order img{
    margin-top: 20px;
    height: 100px;
}
/*Third Container*/
.certificates{
  
    width: 33.3%;
}
/*First Div*/
.icondiv{
    
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.avoimg{
margin-top: 20px;
height: 100px;

}
.collegeimg{
    margin-top: 20px;
    height: 100px;
    
}
/*Second Div*/
.certext{
   
    width: 100%;

}
.certext h1{
    color: rgb(77, 76, 76);
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 25px;
    margin-left: 20px;
}
.certext span{
    color: #bb0406;
}
.certext p{
    color: rgb(112, 110, 110);
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
     margin-left: 20px;
}
.certext hr{
    border: none;
    background-color: rgb(112, 110, 110);
    height: 2px;
    width: 50%;
    margin-left:120px;
   
}


.certext button{
    background-color: #bb0406;
    color: white;
     box-shadow: 0px 2px 10px black;
    height: 30px;
    width: 30%;
    margin-top: -2px;
    margin-left: 180px;
    border: none;
    text-align: center;
    align-content: center;
    align-items: center;
}
.certext button img{
    margin-left: 10px;
}
/*Second Section Shadow Div*/
.shadowimg{
    width: 100%;
}
.shadowimg img{
    width: 100%;
}
/*Last Section*/
.lastsection{
    border: 2px solid black;
    width: 100%;
}
/*First Left Container*/
.leftcontainer{
    border: 2px solid black;
    width: 30%;
    
}
.leftcontainer h1{
    font-size: 25px;
margin-left: 10px;
}
.leftcontainer span{
    color: #bb0406;
}
/*Buttons*/

.bigbtn{
    border: 2px solid black;
    width: 100%;
    display: flex;
   
    justify-content: center;
}
.bigbtn1{
border: 2px solid black;
width: 90%;
height: 90px;
display: flex;

}
.bigbtn1 .redborder{
    height: 100%;
    width: 5%;
}
.upper{
    border: 2px solid black;
    width: 90%;
    margin-left: 5%;
}


.learndiv{
    border: 2px solid black;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}
.learndiv h1{
    margin-top: 30px;
font-size: 25px;
color: #838383;
}
.learndiv span{
    color: #bb0406;
}
.learndiv h2{
    font-size: 20px;
    color: #838383;
    font-family: sans-serif;
    w
}